.signup-box {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    padding: 0 20px;
}
.sugnup-box-header {
    margin: 48px 0 33px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .signup-box-header {
        margin: 0;
    }
}
.sugnup-box-header h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300 !important;
    color: #ff444f !important;

}
.sugnup-box-header a {
  color: #ff444f !important;
}
.signup-form-note {
    font-size: 12px;
    margin-bottom: 20px;
}
.signup-form-links {
    display: block;
    position: relative;
    width: 100%;
    min-height: 50px;
}
.signup-form-links a {
  color: #ff444f !important;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #ff444f;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* Radio */
.float-radio {
    margin-bottom: 40px;
}
  .radio-container {
    display: inline-block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 0;
    margin-right: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  /* Create a custom radio button */
.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eeeeee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .radio-checkmark {
    background-color: #cccccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .radio-checkmark {
    background-color: #ff444f;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .radio-checkmark:after {
    display: block;
  }
  .radio-container .radio-checkmark:after {
    top: 4px;
   left: 4px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}

/* Select */
/*
.float-container select {
  height: 40px;
  width: 100%;
  padding: 10px;
  border: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #999999;
  background-image: url(arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
*/
.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  margin-bottom: 30px;
}

.custom-select {
  display: flex;
  flex-direction: column;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: normal;
  color: #999999;
  height: 40px;
  line-height: 40px;
  background: #ffffff;
  cursor: pointer;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: solid 1px #e8e8e8;
  background: #ffffff;
  transition: all 0.25s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: normal;
  color: #666666;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.25s;
  border-bottom: solid 1px #eeeded;
}

.custom-option:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

.custom-option.selected {
  color: #666666;
  background-color: #eeeeee;
}

.arrow {
  position: relative;
  height: 11px;
  width: 11px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 1px;
  height: 100%;
  transition: all 0.15s;
}

.arrow::before {
  left: -4px;
  transform: rotate(-45deg);
  background-color: #666666;
}

.arrow::after {
  left: 4px;
  transform: rotate(45deg);
  background-color: #666666;
}

.open .arrow::before {
  left: -4px;
  transform: rotate(45deg);
}

.open .arrow::after {
  left: 4px;
  transform: rotate(-45deg);
}

/* Language select */
.custom-language-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}

.custom-language-select-wrapper .custom-select {
  display: flex;
  flex-direction: column;
}

.custom-language-select-wrapper .custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: normal;
  color: #999999;
  height: 40px;
  line-height: 40px;
  background: #0e0e0e;
  cursor: pointer;
  border: solid 1px #d6dadb;
  border-radius: 4px;
}

.custom-language-select-wrapper .custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: solid 0px #e8e8e8;
  background: #0e0e0e;
  transition: all 0.25s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.08), 0 0 16px 0 rgba(0, 0, 0, 0.08);
}

.custom-language-select-wrapper .custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-language-select-wrapper .custom-option {
  position: relative;
  display: block;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: normal;
  color: #999999;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.25s;
  border-bottom: solid 1px #222222;
}

.custom-language-select-wrapper .custom-option:hover {
  cursor: pointer;
  background-color: #242828;
}

.custom-language-select-wrapper .custom-option.selected {
  color: #999999;
  background-color: #242828;
}

.custom-language-select-wrapper .arrow {
  position: relative;
  height: 11px;
  width: 11px;
}

.custom-language-select-wrapper .arrow::before,
.custom-language-select-wrapper .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 1px;
  height: 100%;
  transition: all 0.15s;
}

.custom-language-select-wrapper .arrow::before {
  left: -4px;
  transform: rotate(-45deg);
  background-color: #999999;
}

.custom-language-select-wrapper .arrow::after {
  left: 4px;
  transform: rotate(45deg);
  background-color: #999999;
}

.custom-language-select-wrapper .open .arrow::before {
  left: -4px;
  transform: rotate(45deg);
}

.custom-language-select-wrapper .open .arrow::after {
  left: 4px;
  transform: rotate(-45deg);
}